/*MAIN*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Marvel", serif;
  height: 100%;
  width: 100%;
  background-color: #212121;
}

.wrapper {
  margin: 0 100px;
}

h1 {
  padding: 150px 0 30px 0;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  color: white;
}

h2 {
  padding: 0 0;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.card-title {
  height: 100px;
}

/*HEADER*/

header {
  background-color: #212121;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #9999;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

header img {
  height: 60px;
  object-fit: cover;
}

/*BURGER MENU*/

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f70d18;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #a90000;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #201f1e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #201f1e;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 100px 0;
  text-align: center;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding-bottom: 30px;
  outline: none;
  text-transform: uppercase;
}

.bm-item:hover {
  color: #a90000;
}

.logo-menu {
  height: 150px;
  object-fit: cover;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*SEARCHBAR*/
.searchbar-container {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.search-icon {
  font-size: 40px;
  margin: 0 20px;
  color: #f70d18;
}

.search-bar {
  width: 500px;
  height: 40px;
  font-family: "Marvel", serif;
  font-size: 20px;
  padding-left: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.search-bar::placeholder {
  font-size: 20px;
  padding-left: 5px;
  color: #bbb;
}

/*CARDS*/

.cards-container {
  height: 100%;
  width: 100%;
  padding: 20px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.card {
  height: 500px;
  max-width: 100%;
  border: #a90000 1px solid;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card .text p {
  text-align: center;
  overflow-y: hidden;
  height: auto;
  width: 95%;
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card .text p button {
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  border: none;
  background-color: #f70d18;
  color: white;
  outline: none;
  font-family: "Marvel", serif;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.card .text p button:hover {
  background-color: #a90000;
}

.card .text {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.879);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.card:hover .text:hover,
.card:active .text:hover {
  opacity: 1;
}

.img-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-container img {
  height: 400px;
  padding: 0 0 50px 0;
  border-radius: 5px;
  object-fit: cover;
}

/*CHARACTERS COMICS PAGE*/

.more-info {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: white;
}

/*PAGINATION*/

.paginate {
  height: 30px;
  max-width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.paginate > div {
  color: #f70d18;
  font-size: 30px;
  padding-right: 50px;
  cursor: pointer;
}

.paginate > div:hover {
  color: #a90000;
}

/*LOADER*/

.loader {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.cover {
  height: 100%;
  width: 100%;
}
.cover img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
